#error-wrap {
  top: 40%;
}

#error-wrap .error-content .error-info .error_title {
  margin-top: -3rem !important;
}

#error-wrap .error-content {
  box-shadow: none !important;
  border-radius: 12px;
  background: var(--hassan-card-bg) !important;
}

.aside-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  bottom: 0px;
  position: absolute;
  padding: 1rem;
  width: 100%;
  overflow: scroll;
}

.aside-list .aside-list-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1500px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .aside-list .aside-list-group {
    margin: 0px 17%; //17% 适合最新文章数为5个，10% 适合6个
  }
}

.aside-list .aside-list-item {
  padding: 0.5rem;
}

.aside-list .aside-list-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  transition: 0.3s;
}
.aside-list .aside-list-item img:hover {
  transform: scale(1.1);
}

.aside-list .aside-list-item .thumbnail {
  overflow: hidden;
  width: 230px;
  height: 143px;
  display: flex;
  background: var(--hassan-card-bg);
}

.aside-list .aside-list-item .content .title {
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.5;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  padding-top: 0.5rem;
  color: var(--hassan-fontcolor);
}

.aside-list .aside-list-item .content time {
  display: none;
}

#error-wrap .error-content .error-info a {
  border-radius: 10px;
  overflow: hidden;
}
